.products__wrapper {
  position: relative;

  background-color: $primary-accent-color;

  @include bg-image('../images/products/bg-image.png');
}

.products__content {
  text-align: center;
}

.products__title {
  margin-bottom: 40px;
}

.products__list {
  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      z-index: 1;
      width: 550px;

      height: 21px;
      margin: 0;
      margin-bottom: 15px;
      border: none;

      @include bg-image('../images/products/board.jpg');

      content: '';
      transform: translateX(-50%);
    }

    &::before {
      top: 550px;
    }

    &::after {
      top: 1217px;
    }
  }

  @media (min-width: 900px) {
    &::before,
    &::after {
      width: 785px;
    }

    &::before {
      top: 636px;
    }

    &::after {
      top: 1305px;
    }
  }

  @media (min-width: 900px) and (max-width: 1106px) {
    justify-content: center;
  }

  @media (min-width: 1107px) {
    &::before {
      width: 1108px;
    }

    &::after {
      display: none;
    }
  }
}

.products__item {
  position: relative;

  width: 262px;
  max-width: 262px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 599px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 1169px) and (min-width: 600px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: 1170px) {
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 600px) {
    margin: 0;
  }

  @media (min-width: 1920px) {
    margin: 0;
  }
}
